<head>
    <link rel="stylesheet" href="/header.css">
</head>
<header>
    <div class="auth-links">
        <p>
            <a href="/users/register" id="auth-button">Register</a>
        </p>
        <p>
            <a href="/users/signin" id="auth-button">Log In</a>
        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>
                    <nav>
                        <a href="/captain-collector" id="main-link">Captain Collector </a>
                    </nav>
                </h1>
            </div>
        </div>
    </div>
    
</header>