<head>
    <link rel="stylesheet" href="/header.css">
</head>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>
                    <nav>
                        <a href="/captain-collector" id="main-link">Captain Collector </a>
                    </nav>
                </h1>
            </div>
        </div>
    </div>
</header>