<head>
    <link rel="stylesheet" href="/header.css">
</head>
<header>
    <div class="container">
        <div class="links">
            <a href="/users/register" id="register-link">Register</a>
            <a href="/users/signin" id="signin-link">Sign In</a>
        </div>
        <h1 class="title">
            <nav>
                <a href="/captain-collector" id="main-link">Captain Collector</a>
            </nav>
        </h1>
    </div>
</header>