@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Rampart+One&display=swap');

.container {
    text-align: center;
    position: relative;
}

.links {
    position: absolute;
    top: -10px;
    right: 1em;
    font-family: 'Bangers';
}

#main-link {
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #7b33c9 29%,
        #ff1361 67%,
        #fff800 100%
    );
    font-family: 'Bangers';
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3.0s linear infinite;
    font-size: 4em;
    padding-right: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#register-link,
#signin-link {
    color: antiquewhite;
    margin-left: 10px;
}

#register-link:hover,
#signin-link:hover {
    color: #ff1361;
}

#signout-link {
    text-decoration: none;
    color: antiquewhite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


@media (max-width: 757px) {
    .container {
        padding: 10px;
    }

    .links {
        position: absolute;
        top: 1%; 
        margin-right: 0.4em;
        font-family: 'Bangers';
    }

    #main-link {
        background-image: linear-gradient(
            -225deg,
            #231557 0%,
            #7b33c9 29%,
            #ff1361 67%,
            #fff800 100%
        );
        font-family: 'Bangers';
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.5em; /* Adjust as needed */
        text-align: center; /* Center text horizontally */
        padding-right: 10px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        margin: 0 auto; /* Center text horizontally */
    }

    #register-link,
    #signin-link {
        color: antiquewhite;
        margin-top: 1em; /* Adjust as needed */
    }
}