@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Rampart+One&display=swap');

body {
    background-image: url(https://img.freepik.com/premium-vector/blue-comic-book-page-background-pop-art-style-with-empty-space-template-with-rays-dots-halftone-effect-texture-vector-illustration_515038-4536.jpg?w=2000);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: 'Bangers';
    font-size: 500%;
    margin-bottom: 1%;
}

#main-link {
    text-decoration: none;
    color: antiquewhite;
}

h2 {
    text-align: center;
    font-family: 'Bangers';
    font-size: 250%;
    margin-bottom: 1%;
}

form {
    text-align: center;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    line-height: 2.5;
    font-family: 'Bangers';
}