@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Rampart+One&display=swap');

body {
    background-image: url(https://img.freepik.com/premium-vector/blue-comic-book-page-background-pop-art-style-with-empty-space-template-with-rays-dots-halftone-effect-texture-vector-illustration_515038-4536.jpg?w=2000);
    background-size: contain;
}

h2 {
    text-align: center;
    font-family: 'Bangers';
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

#results-container {
    display: flex;
    flex-direction: column;
    max-width: 425px;
    text-align: center;
    border: 3px solid;
    padding: 10px;
    margin: 20px auto;
    background-image: url(https://media.istockphoto.com/id/1318099651/vector/comic-explosion-background-vector-illustration.jpg?s=612x612&w=0&k=20&c=EEobfb9GTOkHjrP1Y3uBWllZkVsPp2Qxj8cX73CiNo8=);
    background-size: cover;
    border-radius: 10px;
}

#comic-title {
    font-family: 'Bangers';
    font-size: 3.5em;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.5em;
    font-family: 'Bangers';
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

#main-link {
    text-decoration: none;
    color: antiquewhite;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

#image-container {
    display: flex;
    justify-content: center;
}

img {
    height: 400px;
    width: 300px;
    margin-bottom: 3em;
}

h3 {
    text-align: center;
    font-family: 'Bangers';
    font-size: 1.5em;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

p {
    color: antiquewhite;
    font-size: 4.5em;
    font-family: 'Bangers';
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}